
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    padding: 1rem;  
} 

#pokemonInfo {
    border-radius: 24px;
    padding: 24px;
    max-width: 400px;
    box-shadow: 10px 10px 5px -5px gray;
}

.pokemon-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.pokemon-top .material-symbols-outlined {
    color: #6b7280;
    cursor: pointer;
    font-weight: 600;
}

.pokemon-name {
    margin-bottom: 24px;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

#pName  {
    font-size: 32px;
    font-weight: bold;
    display: block;
}

.number{
    color: #551a8b;
    font-size: 18px;
}

.details {
    margin-bottom: 24px;
}

.types {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 8px;
}

.type {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff;
    font-size: 0.75rem;
    border-radius: 1.5rem;
    text-align: center;
    transition: background-color 0.3s ease
}

.pokemon-image {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.pokemon-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fafafa;
    
}


.pokemon-stats {
    background-color: #f3f4f6;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 10px 10px 5px -5px gray;
}

.pokemon-stats nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
}

.pokemon-stats nav li {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.pokemon-stats nav li.active {
    background-color: white;
    font-weight: 600;
}

.info-table {
    color: #4a5568;
}

.info-table table {
    width: 100%;
}

.info-table td {
    padding: 8px 0;
}

.info-table .item {
    color: #6b7280;
}

.info-table .description {
    text-align: right;
}

.info-table th {
    text-align: left;
    padding-top: 16px;
}

.gender .material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.gender .male {
    color: #3b82f6;
}

.gender .female {
    color: #ec4899;
}

@media (max-width: 480px) {
    #pokemonInfo {

        padding: 16px;
    }
}