 
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 * {
    font-family: 'Lato', sans-serif;
    /* box-sizing: border-box; */
    text-decoration: none;
    overflow: hidden;
    
}


body {
    overflow-x: hidden;
    box-sizing: border-box;
}


.content {
     width: 100vw; 
    height: 100vh;  
    padding: 1rem;
    /* overflow: hidden; */
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    
}

/* @media screen and (min-width: 992px) {
    .content {
         max-width: 992px; 
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
       
    }
} */
